<form action="/note/new" method="POST" class="notepad-form">
    <input 
        type="text" 
        id="title" 
        name="title" 
        class="notepad-title"
        placeholder="Note Title..." 
        required
    >
    <input 
    type="text" 
    id="tags" 
    name="tags" 
    class="notepad-tags" 
    placeholder="Tags (separated by commas)..."
    >

    <div class="editor-options">
        <label class="editor-option">
            Status:
            <select name="status" class="status-select">
                <option value="published" selected>Published</option>
                <option value="draft">Draft</option>
            </select>
        </label>
    </div>

    <textarea 
        id="content" 
        name="content" 
        class="notepad-content"
    ></textarea>
    
    <div class="editor-actions">
        <button type="submit" class="submit-btn">Save Note</button>
    </div>
</form>

<script src="/scripts/editor.js"></script>
<script>
    const mde = initEditor('content');
</script>